@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

html {
    font-family: "IBM Plex Sans";
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
figcaption,
figure,
main {
    display: block;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
    outline-width: 0;
}
address {
    font-style: normal;
}
b,
strong {
    font-weight: inherit;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
pre,
samp {
    font-family: "IBM Plex Sans", monospace;
    font-size: 1em;
}
dfn {
    font-style: italic;
}
small {
    font-size: 80%;
    font-weight: 300;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}

img {
    border-style: none;
}
svg:not(:root) {
    overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
    font-family: "IBM Plex Sans";
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
    -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: solid;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    display: inline-block;
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details,
menu {
    display: block;
}
summary {
    display: list-item;
    outline: 0;
}
canvas {
    display: inline-block;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
*,
::after,
::before {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
}
body {
    background: #fff;
    color: #000;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}
a {
    color: #5755d9;
    outline: 0;
    text-decoration: none;
}
a:focus {
    box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
}
a.active,
a:active,
a:focus,
a:hover {
    color: #302ecd;
    text-decoration: underline;
}
a:visited {
    color: #807fe2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6::hover {
    color: ##FF3D00;
}

.h1,
h1 {
    font-size: 2rem;
}
.h2,
h2 {
    font-size: 1.6rem;
}
.h3,
h3 {
    font-size: 1.4rem;
}
.h4,
h4 {
    font-size: 1.2rem;
}
.h5,
h5 {
    font-size: 1rem;
}
.h6,
h6 {
    font-size: 0.8rem;
}
p {
    margin: 0 0 1.2rem;
}
a,
ins,
u {
    -webkit-text-decoration-skip: ink edges;
    text-decoration-skip: ink edges;
}
abbr[title] {
    border-bottom: 0.05rem dotted;
    cursor: help;
    text-decoration: none;
}

ol,
ul {
    margin: 0.8rem 0 0.8rem 0.8rem;
    padding: 0;
}
ol ol,
ol ul,
ul ol,
ul ul {
    margin: 0.8rem 0 0.8rem 0.8rem;
}
ol li,
ul li {
    margin-top: 0.4rem;
}
ul {
    list-style: disc inside;
}
ul ul {
    list-style-type: circle;
}
ol {
    list-style: decimal inside;
}
ol ol {
    list-style-type: lower-alpha;
}
dl dt {
    font-weight: 300;
}
dl dd {
    margin: 0.4rem 0 0.8rem 0;
}

fieldset {
    margin-bottom: 0.8rem;
}
legend {
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 0.8rem;
}

.has-icon-left,
.has-icon-right {
    position: relative;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
.img-fit-cover {
    object-fit: cover;
}
.img-fit-contain {
    object-fit: contain;
}

.figure {
    margin: 0 0 0.4rem 0;
}
.figure .figure-caption {
    color: #66758c;
    margin-top: 0.4rem;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    width: 100%;
}
.container.grid-xl {
    max-width: 1296px;
}
.container.grid-lg {
    max-width: 976px;
}
.container.grid-md {
    max-width: 856px;
}
.container.grid-sm {
    max-width: 616px;
}
.container.grid-xs {
    max-width: 496px;
}
.show-lg,
.show-md,
.show-sm,
.show-xl,
.show-xs {
    display: none !important;
}
.columns {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -0.4rem;
    margin-right: -0.4rem;
}
.columns.col-gapless {
    margin-left: 0;
    margin-right: 0;
}
.columns.col-gapless > .column {
    padding-left: 0;
    padding-right: 0;
}
.columns.col-oneline {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.column {
    -ms-flex: 1;
    flex: 1;
    max-width: 100%;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
.column.col-1,
.column.col-10,
.column.col-11,
.column.col-12,
.column.col-2,
.column.col-3,
.column.col-4,
.column.col-5,
.column.col-6,
.column.col-7,
.column.col-8,
.column.col-9,
.column.col-auto {
    -ms-flex: none;
    flex: none;
}
.col-12 {
    width: 100%;
}
.col-11 {
    width: 91.66666667%;
}
.col-10 {
    width: 83.33333333%;
}
.col-9 {
    width: 75%;
}
.col-8 {
    width: 66.66666667%;
}
.col-7 {
    width: 58.33333333%;
}
.col-6 {
    width: 50%;
}
.col-5 {
    width: 41.66666667%;
}
.col-4 {
    width: 33.33333333%;
}
.col-3 {
    width: 25%;
}
.col-2 {
    width: 16.66666667%;
}
.col-1 {
    width: 8.33333333%;
}
.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: none;
    width: auto;
}
.col-mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.col-ml-auto {
    margin-left: auto;
}
.col-mr-auto {
    margin-right: auto;
}
@media (max-width: 1280px) {
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
        -ms-flex: none;
        flex: none;
    }
    .col-xl-12 {
        width: 100%;
    }
    .col-xl-11 {
        width: 91.66666667%;
    }
    .col-xl-10 {
        width: 83.33333333%;
    }
    .col-xl-9 {
        width: 75%;
    }
    .col-xl-8 {
        width: 66.66666667%;
    }
    .col-xl-7 {
        width: 58.33333333%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-5 {
        width: 41.66666667%;
    }
    .col-xl-4 {
        width: 33.33333333%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-2 {
        width: 16.66666667%;
    }
    .col-xl-1 {
        width: 8.33333333%;
    }
    .col-xl-auto {
        width: auto;
    }
    .hide-xl {
        display: none !important;
    }
    .show-xl {
        display: block !important;
    }
}
@media (max-width: 960px) {
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto {
        -ms-flex: none;
        flex: none;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-auto {
        width: auto;
    }
    .hide-lg {
        display: none !important;
    }
    .show-lg {
        display: block !important;
    }
}
@media (max-width: 840px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto {
        -ms-flex: none;
        flex: none;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-auto {
        width: auto;
    }
    .hide-md {
        display: none !important;
    }
    .show-md {
        display: block !important;
    }
}
@media (max-width: 600px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto {
        -ms-flex: none;
        flex: none;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-auto {
        width: auto;
    }
    .hide-sm {
        display: none !important;
    }
    .show-sm {
        display: block !important;
    }
}
@media (max-width: 480px) {
    .col-xs-1,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-auto {
        -ms-flex: none;
        flex: none;
    }
    .col-xs-12 {
        width: 100%;
    }
    .col-xs-11 {
        width: 91.66666667%;
    }
    .col-xs-10 {
        width: 83.33333333%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-8 {
        width: 66.66666667%;
    }
    .col-xs-7 {
        width: 58.33333333%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-5 {
        width: 41.66666667%;
    }
    .col-xs-4 {
        width: 33.33333333%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-2 {
        width: 16.66666667%;
    }
    .col-xs-1 {
        width: 8.33333333%;
    }
    .col-xs-auto {
        width: auto;
    }
    .hide-xs {
        display: none !important;
    }
    .show-xs {
        display: block !important;
    }
}

.navbar {
    align-items: stretch;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: stretch;
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}
.navbar .navbar-section {
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    -ms-flex-align: center;
}
.navbar .navbar-section:not(:first-child):last-child {
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.navbar .navbar-center {
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-align: center;
}
.navbar .navbar-brand {
    font-size: 0.9rem;
    text-decoration: none;
}

.bar {
    background: #eef0f3;
    border-radius: 0rem;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 0.8rem;
    width: 100%;
}

.menu {
    background: #fff;
    border-radius: 0rem;
    box-shadow: 0 0.05rem 0.2rem rgba(48, 55, 66, 0.3);
    list-style: none;
    margin: 0;
    min-width: 180px;
    padding: 0.4rem;
    transform: translateY(0.2rem);
    z-index: 300;
}
.menu.menu-nav {
    background: 0 0;
    box-shadow: none;
}
.menu .menu-item {
    margin-top: 0;
    padding: 0 0.4rem;
    position: relative;
    text-decoration: none;
}
.menu .menu-item > a {
    border-radius: 0rem;
    color: inherit;
    display: block;
    margin: 0 -0.4rem;
    padding: 0.2rem 0.4rem;
    text-decoration: none;
}
.menu .menu-item > a:focus,
.menu .menu-item > a:hover {
    background: #f1f1fc;
    color: #5755d9;
}
.menu .menu-item > a.active,
.menu .menu-item > a:active {
    background: #f1f1fc;
    color: #5755d9;
}
.menu .menu-item .form-checkbox,
.menu .menu-item .form-radio,
.menu .menu-item .form-switch {
    margin: 0.1rem 0;
}
.menu .menu-item + .menu-item {
    margin-top: 0.2rem;
}

.nav {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    margin: 0.2rem 0;
}
.nav .nav-item a {
    color: #66758c;
    padding: 0.2rem 0.4rem;
    text-decoration: none;
}
.nav .nav-item a:focus,
.nav .nav-item a:hover {
    color: #5755d9;
}
.nav .nav-item.active > a {
    color: #505c6e;
    font-weight: 300;
}
.nav .nav-item.active > a:focus,
.nav .nav-item.active > a:hover {
    color: #5755d9;
}
.nav .nav {
    margin-bottom: 0.4rem;
    margin-left: 0.8rem;
}

.tile {
    align-content: space-between;
    align-items: flex-start;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: start;
    -ms-flex-line-pack: justify;
}
.tile .tile-action,
.tile .tile-icon {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.tile .tile-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.tile .tile-content:not(:first-child) {
    padding-left: 0.4rem;
}
.tile .tile-content:not(:last-child) {
    padding-right: 0.4rem;
}
.tile .tile-subtitle,
.tile .tile-title {
    line-height: 1.2rem;
}
.tile.tile-centered {
    align-items: center;
    -ms-flex-align: center;
}
.tile.tile-centered .tile-content {
    overflow: hidden;
}
.tile.tile-centered .tile-subtitle,
.tile.tile-centered .tile-title {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-1.6rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.c-hand {
    cursor: pointer;
}
.c-move {
    cursor: move;
}
.c-zoom-in {
    cursor: zoom-in;
}
.c-zoom-out {
    cursor: zoom-out;
}
.c-not-allowed {
    cursor: not-allowed;
}
.c-auto {
    cursor: auto;
}
.d-block {
    display: block;
}
.d-inline {
    display: inline;
}
.d-inline-block {
    display: inline-block;
}
.d-flex {
    display: flex;
    display: -ms-flexbox;
}
.d-inline-flex {
    display: inline-flex;
    display: -ms-inline-flexbox;
}
.d-hide,
.d-none {
    display: none !important;
}
.d-visible {
    visibility: visible;
}
.d-invisible {
    visibility: hidden;
}
.text-hide {
    background: 0 0;
    border: 0;
    color: transparent;
    font-size: 0;
    line-height: 0;
    text-shadow: none;
}
.text-assistive {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}
.float-left {
    float: left !important;
}
.float-right {
    float: right !important;
}
.p-relative {
    position: relative !important;
}
.p-absolute {
    position: absolute !important;
}
.p-fixed {
    position: fixed !important;
}
.p-sticky {
    position: sticky !important;
    position: -webkit-sticky !important;
}
.p-centered {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.flex-centered {
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.m-0 {
    margin: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.ml-0 {
    margin-left: 0 !important;
}
.mr-0 {
    margin-right: 0 !important;
}
.mt-0 {
    margin-top: 0 !important;
}
.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.my-0 {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.m-1 {
    margin: 0.2rem !important;
}
.mb-1 {
    margin-bottom: 0.2rem !important;
}
.ml-1 {
    margin-left: 0.2rem !important;
}
.mr-1 {
    margin-right: 0.2rem !important;
}
.mt-1 {
    margin-top: 0.2rem !important;
}
.mx-1 {
    margin-left: 0.2rem !important;
    margin-right: 0.2rem !important;
}
.my-1 {
    margin-bottom: 0.2rem !important;
    margin-top: 0.2rem !important;
}
.m-2 {
    margin: 0.4rem !important;
}
.mb-2 {
    margin-bottom: 0.4rem !important;
}
.ml-2 {
    margin-left: 0.4rem !important;
}
.mr-2 {
    margin-right: 0.4rem !important;
}
.mt-2 {
    margin-top: 0.4rem !important;
}
.mx-2 {
    margin-left: 0.4rem !important;
    margin-right: 0.4rem !important;
}
.my-2 {
    margin-bottom: 0.4rem !important;
    margin-top: 0.4rem !important;
}
.p-0 {
    padding: 0 !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.pl-0 {
    padding-left: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.py-0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.p-1 {
    padding: 0.2rem !important;
}
.pb-1 {
    padding-bottom: 0.2rem !important;
}
.pl-1 {
    padding-left: 0.2rem !important;
}
.pr-1 {
    padding-right: 0.2rem !important;
}
.pt-1 {
    padding-top: 0.2rem !important;
}
.px-1 {
    padding-left: 0.2rem !important;
    padding-right: 0.2rem !important;
}
.py-1 {
    padding-bottom: 0.2rem !important;
    padding-top: 0.2rem !important;
}
.p-2 {
    padding: 0.4rem !important;
}
.pb-2 {
    padding-bottom: 0.4rem !important;
}
.pl-2 {
    padding-left: 0.4rem !important;
}
.pr-2 {
    padding-right: 0.4rem !important;
}
.pt-2 {
    padding-top: 0.4rem !important;
}
.px-2 {
    padding-left: 0.4rem !important;
    padding-right: 0.4rem !important;
}
.py-2 {
    padding-bottom: 0.4rem !important;
    padding-top: 0.4rem !important;
}
.s-rounded {
    border-radius: 0rem;
}
.s-circle {
    border-radius: 50%;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}
.text-normal {
    font-weight: 300;
}
.text-bold {
    font-weight: 300;
}
.text-italic {
    font-style: italic;
}
.text-large {
    font-size: 1.2em;
}
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-clip {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
.text-break {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
}


   .icon {
    box-sizing: border-box;
    display: inline-block;
    font-size: inherit;
    font-style: normal;
    height: 1em;
    position: relative;
    text-indent: -9999px;
    vertical-align: middle;
    width: 1em;
}

.icon::after,
.icon::before {
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.icon.icon-2x {
    font-size: 1.6rem;
}
.icon.icon-3x {
    font-size: 2.4rem;
}
.icon.icon-4x {
    font-size: 3.2rem;
}
.accordion .icon,
.btn .icon,
.menu .icon,
.toast .icon {
    vertical-align: -10%;
}
.btn-lg .icon {
    vertical-align: -15%;
}

.icon-menu::before {
    background: currentColor;
    box-shadow: 0 -0.35em, 0 0.35em;
    height: 0.1rem;
    width: 100%;
}

  body {
    background: #000000;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #fff;
    font-weight: 300;
}

.sidebar::-webkit-scrollbar {
    width: 4px;
    background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 0px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #f9d423;
}

.container {
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container .columns {
    margin-left: -1rem;
    margin-right: -1rem;
}

.container .column {
    margin-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container .column.bookmark-article {
    padding-right: 3rem;
}

.container .column.bookmark-sidebar {
    padding-left: 2rem;
}

.bookmark-body {
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.bookmark-content {
    padding-bottom: 0rem;
    padding-left: 1rem;
    padding-top: .3rem;
}


img {
    max-width: 100%;
}

img[data-src],
img[data-srcset] {
    display: block;
    min-height: 1px;
}

img:not([src]) {
    visibility: hidden;
}

img.initial,
img.loaded,
img.error {
    opacity: 1 !important;
}

img:not(.initial) {
    transition: opacity .3s ease-in-out;
}

a:focus {
    box-shadow: none;
}

a:focus,
a:hover,
a:active,
a.active {
    text-decoration: none;
    color: #2623d0;
}

.bookmark-header {
    background: #fff;
}

.ai-bookmark {
    padding: 0;
}

.logo span {
    color: #2E2E2E;
}

.header {
    background: #000000;
    padding-top: .8rem;
    margin-bottom: 1.3rem;
    z-index: 99;
}

.header header {
    position: relative;
}

.header header .ph-vote {
    position: absolute;
    left: 65px;
    top: 16px;
    font-size: 12px;
}

.header a {
    color: #FF3D00;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: .5rem 0;
}

.navbar .navbar-brand.logo {
    font-size: .9rem;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 2px;
}

.nav-logo img {
    height: 50px;
}

.sidebar .nav {
    margin: 0;
    min-height: min-content;
    padding-bottom: 1rem;
    margin-top: 2.2rem;
}

.sidebar .nav img {
    margin: 0 15px 0 0;
    width: 22px;
}

.sidebar .nav .nav-item a {
    padding: 3px 0;
    color: #fff;
    display: flex;
    align-items: center;
    transition: .2s;
    font-size: 15px;
    font-weight: 300;
}

.sidebar .nav .nav-text {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
}

.sidebar .nav .nav-text:hover {
    color: #FF3D00;
}

.sidebar .nav-item img.nav-icon {
    width: 20px;
    margin-right: 5px;
    opacity: .5;
}

.evn-detail-sps {
    padding: 1rem 0;
}

.sidebar {
    position: sticky;
    z-index: 2;
    background: #000000;
    min-height: 100%;
    overflow: auto;
    top: 0;
}

.sidebar .nav .nav-item a:hover {
    color: #FF3D00 !important;
}

.sidebar .nav .nav-item {
    margin-top: 0.3rem;
}

.sidebar-title {
    font-size: .7rem;
    font-weight: 300;
    padding-bottom: .2rem;
    color: #adadad;
    margin: 1rem 0 0 0;
    text-transform: uppercase;
}

.main-menu {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.bookmark-article {
    padding-top: 2rem;
    box-shadow: -1px 0px 0px inset rgba(0, 0, 0, 0.1);
}

.bookmark-sidebar {
    padding-top: 2rem;
}

.sidebar {
    padding-right: 0 !important;
}

.main-title {
    margin-bottom: 1.5rem;
    font-weight: 300;
    font-size: 1.2rem;
    padding-top: 1rem;
    float: left;
    color: #fff;
    position: relative;
}

.submit {
    float: right;
    margin-top: 26px;
    margin-right: 10px;
    font-weight: 300;
    font-size: 15px;
    border-style: solid;
    border-color: #fff;
}

.submit-2 {
    float: right;
    margin-top: 36px;
    margin-right: 10px;
    font-weight: 300;
    font-size: 15px;
    color: #FF3D00;
    vertical-align: middle;
}

.submit a {
    display: block;
    font-weight: 300;
    color: #fff;
    padding: 8px 40px; 
}

.submit:hover {
    background-color: #fff;
    float: right;
    margin-top: 26px;
    margin-right: 10px;
    font-weight: 300;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

.submit:hover a {
    display: block;
    font-weight: 300;
    color: #000;
    padding: 8px 40px; 
}

.m-submit a {
    font-size: 16px;
}

.bookmark-title {
    font-family: "Space Grotesk";
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    color: #fff;
    padding-bottom: 15px;
}
.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
    background: #fff;
}

.bookmark-title a {
    position: relative;
    display: inline-block;
}

.bookmark-title a:after {
    content: "";
    height: 2px;
    background: #FF3D00;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 0px;
}

.list .bookmark-title {
    border: none;
    float: left;
    position: relative;
    padding-top: 2rem;
    padding-bottom: .8rem;
    margin-bottom: 1rem;
}

.list .bookmark-title span {
    color: #FF3D00 !important;
    background: #FF3D00;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bookmark-title a {
    color: #fff;
}

.bookmark-title:hover a {
    color: #FF3D00 !important;
    background: #FF3D00;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bookmark-title:hover .link {
    opacity: 1 !important;
    transition: all .2s ease;
}

.bookmark-title a:visited {
    color: #fff;
}

.bookmark-title img {
    width: 35px;
    margin-right: 15px;
}

.article-post {
    margin-bottom: 1.3rem;
    transition: all .3s ease;
}

.article-post-main {
    margin-bottom: 1.3rem;
    transition: all .3s ease;
    color: #fff;
}

.article-post h2:hover a,
.article-post h3:hover a {
    color: #FF3D00 !important;
    background: #FF3D00;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .3s in-ear-out;
}

.article-post .article-title a {
    transition: .3s in-ear-out;
}

.article-post:hover p {
    color: #fff;
    transition: all .2s ease;
}

.writeustext {
    font-size: 12px;
    color: #FF3D00;
}

.article-post .article-title {
    font-family: "Space Grotesk";
    font-weight: 400;
    font-size: 1.1rem;
    padding: .8rem 0 0 0;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 48px;
    color: #fff;
}
.article-post .article-title a {
    color: #fff !important;
    position: relative;
}

.article-post .meta {
    padding-top: 0.1rem;
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: 300;
    color: #fff;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: .4rem;
}

.article-post .meta-main {
    padding-top: 0.1rem;
    line-height: 1.5;
    font-weight: 300;
    color: #fff;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-bottom: .4rem;
}

.article-content {
    padding-bottom: .5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.article-content:last-child {
    border: none;
    padding: 0;
    margin: 0;
}

.article-content h2 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.3;
    color: #fff;
}

.article-content h2 a {
    color: #fff;
}

.article-post img {
    max-width: 100%;
    height: auto;
    border-radius: 0px;
    min-height: 205px;
    transition: 0.2s ease-in-out;
    background: #fff;
}

.article-post img:hover {
    border: 5px solid #FF3D00;
}   

.sidebar {
    height: 100vh;
}

.sidebar-content img {
    max-width: 100%;
}

.sidebar-item {
    padding-bottom: 0;
}

.sidebar-item-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bookmark-footer {
    background: #000000;
    color: #fff;
    padding-top: 1rem;
    font-size: 14px;
}

.bookmark-footer a {
    color: #FF3D00 !important;
    padding: 3px 0 !important;
    display: flex;
    align-items: center;
}

.bookmark-footer a img {
    width: 20px;
    margin-right: 12px;
}

.copyright {
    font-size: 0.8rem;
    text-align: center;
    color: #c1c1c1;
    opacity: 0.4;
}

.footer .nav-tittle {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #2e2e2e;
    padding-top: 20px;
    margin: 0;
}

.sps-content {
}

.list .ai-sps {
    padding-bottom: 1.5rem;
}

@media (max-width: 600px) {

    .sticky {
        position: relative;
        top: 0;
        z-index: 100;
        background: #fff;
    }

    .mobile-header {
        background: #000000;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 99;
    }

    .mobile-header section {
        height: 50px;
    }

    .sidebar .nav .nav-item a {
        color: #fff;
    }

    .main-title {
        margin-bottom: 1.5rem;
        font-weight: 300;
        font-size: 1.4rem;
        padding-top: .5rem;
        padding-bottom: .8rem;
        text-align: center;
    }


    .sidebar {
        bottom: 0;
        left: 0;
        min-width: 10rem;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        position: fixed;
        top: 0;
        transform: translateX(-100%);
        transition: transform .25s ease;
        z-index: 200;
    }

    .main-content {
        margin-left: 0;
    }

    .navbar {
        padding: .2rem 0;
        display: flex;
        align-items: center;
    }

    .navbar .btn.btn-link {
        color: #fff;
    }

    .nav-logo img {
        height: 40px;
        margin-top: 7px;
    }

    .ai-bookmark {
        padding: 0;
    }

    .bookmark-title {
        font-size: 1.3rem;
        width: 100%;
        max-width: 100%;
        padding-top: 1rem;
        margin-bottom: 1.5rem;
        line-height: 1.2;
        border: none;
        padding-bottom: .8rem;
        text-align: center;
    }

    .list .bookmark-title {
        text-align: left;
    }

    .bookmark-content {
        padding-left: 0rem;
    }

    .article-post {
        margin-bottom: 0rem;
        padding-bottom: 1rem;
    }

    .article-post .article-title {
        min-height: 45px;
        
    }

    .article-post .article-title a {
        color: #fff !important;
    }

    .article-post .meta {
        font-size: 16px;
        -webkit-line-clamp: 5;
    }

    .header-link {
        max-width: 14px;
        ;
    }


    .article-post img {
        min-height: 140px;
        width: 100%;
    }

    .off-menu {
        background: rgba(255, 255, 255, .8);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border-color: transparent;
        border-radius: 0;
        bottom: 0;
        display: none;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        width: 100vw !important;
        height: 100vh !important;
    }

    .header .navbar-mobile {
        border: 1px solid #ddd !important;
    }

    .header .header-logo .logo img {
        margin-left: 15px;
        height: 36px;
    }

    .ai-bookmark .sidebar:target {
        transform: translateX(0);
        background: #000000;
        width: 250px;
        margin-top: 0;
    }

    .ai-bookmark .sidebar:target~.off-menu {
        display: block;
        z-index: 100;

    }
}

._bsa_flexbar {
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05)
  }
  
  ._bsa_flexbar>a {
    padding: 5px 30px !important
  }
  
  ._bsa_flexbar .flexbar-cta {
    padding: 12px 20px !important;
    margin-right: 0 !important
  }

  
  ._bsa_flexbar .flexbar-heading {
    padding-bottom: 0 !important
  }
   
  .native-js {
    visibility: hidden;
    transition: all .25s ease-in-out;
    opacity: 0;
  }

  .native-js[data-state="visible"] {
    visibility: visible;
    opacity: 1;
  }
  
  @media only screen and (min-width: 320px) and (max-width: 759px) {

  }